header img {
    height: 80px;
    margin-left: 40px;
}
body {
    padding: 30px;
}

main {
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
    z-index: 1;
    background-color: white;
}

#admin-right-navbar {
    position: absolute;
    right: 30px;
    top: 10px;
}

#politician-right-navbar {
    position: absolute;
    right: 150px;
    top: 10px;
}

header * {
    display: inline;
}

header li {
    margin: 20px; 
    
}

header li a {
    color: black;
    text-decoration: none;
}

/* styles of the main elements in the body */

.main-content {
    top: 100px;
    position: absolute;
    width: 95%;
    /* background-color: red; */
}

.auth-form {
    position: relative;
    left: 250px;
    top: 30px;
}

.auth-form-div {
    left: 300px;
    position: absolute;
    text-align: center;
}

.auth-form-div h2 {
    left: 250px;
    position: relative;
}

.auth-form {
    width: 400px;
}

.auth-form-element {
    width: 100%;
    height: 35px;
    margin: 10px;
}


/* official color: F9AA23 */
.auth-form button, #create-party-form button, .selected-list button {
    height: 50px;
    width: 100px;
    margin-top: 5px;
    width: 100px;
    background-color: #CD181D;
    color: white;
    border: none;
}

.auth-form button:hover {
    cursor: pointer;
}

.auth-form p a{
    text-decoration: none;
    color: #CD181D;
}

#create-party-form {
    position: absolute;
    left: 500px;
    width: 600px; 
    top: 30px;
}

#create-party-form {
    height: 30px;
    width: 500px;
}

#create-party-form input {
    width: 100%;
    height: 40px;
}

#create-party-form textarea {
    width: 100%;
    resize: none;
    height: 150px;
}

#create-party-form * {
    margin-top: 2px;
}

#government-offices {
    list-style-type: none;
}

#government-offices li {
    height: 35px;
    font-size: 20px;
}

#government-offices li input[type=checkbox] {
    float: right;
}

.selected-list {
    top: 30px;
    list-style-type: none;
    left: 500px;
    position: absolute;
    width: 400px;
}

.selected-list button {
    position: relative;
    left: 150px;
    height: 50px;
}

.selected-list button:hover {
    cursor: pointer;
}



/* styles for the voting-page.html */
#voting-positions-div {
}

.candidate-list {
    text-align: center;
}

.candidate-list li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

.candidate-voting-picture {
    height: 300px;
    width: 300px;
}

#voting-positions-div h2 {
    text-align: center;
}

/* styles for the viewed-voting-politicians.html */

#voted-politicians {
    position: absolute;
    width: 65%;
    left: 325px;
}

.politicians-table tr th {
    /* margin-top: 10px; */
    padding-top: 10px;
}

.voted-politician-image {
    height: 200px;
    width: 200px;
}

#voted-politicians h2 {
    position: relative;
    left: 250px;
}

