
header img {
    height: 80px;
}

header a img {
    height: 100%;
    margin-left: 40px;
}

body {
    padding: 30px;
    background-color: #E8E8E8;
}

main {
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
    z-index: 1;
    background-color: white;
}

#admin-right-navbar {
    position: absolute;
    right: 30px;
    top: 10px;
}

#politician-right-navbar {
    position: absolute;
    right: 150px;
    top: 10px;
}

header * {
    display: inline;
}

#profile {
    position: absolute;
    right: 30px;
    top: 10px;
}

header li {
    margin: 20px; 
    
}

header li a {
    color: black;
    text-decoration: none;
}

#profile {
    position: absolute;
    right: 30px;
    top: 10px;
}

#about {
    position: absolute;
    right: 80px;
    top: 10px;
    margin-right: 60px;
}


/* styles of the main elements in the body */

.main-content {
    top: 100px;
    position: absolute;
    width: 95%;
}


/*
 styles of the forms used to create a user and to login a user
 both forms used to create and login a user are under the class 'auth-form'
*/
.auth-form {
    position: relative;
    left: 250px;
    top: 30px;
}

.auth-form-div {
    left: 300px;
    position: absolute;
    text-align: center;
}

.auth-form-div h2 {
    left: 250px;
    position: relative;
}

.auth-form {
    width: 400px;
}

.auth-form-element {
    width: 100%;
    height: 35px;
    margin: 10px;
}


/* official color: F9AA23 */
.auth-form button, #create-party-form button, .selected-list button {
    height: 50px;
    width: 100px;
    margin: 5px;
}

#profile {
    position: absolute;
    right: 30px;
    top: 10px;
}

.auth-form span {
    float: left;
    left: 5px;
    position: relative;

}

#politician-right-navbar {
    position: absolute;
    right: 150px;
    top: 10px;
}


.auth-form input[type=text]:focus, .auth-form input[type=email]:focus, .auth-form input[type=password]:focus {
    box-shadow: 0 0 0 0.25px rgb(40, 202, 121);
}


.auth-form button, #create-party-form button, .selected-list button, #select-office-to-view, #create-office-form button, .selected-list button  {
    height: 50px;
    margin-top: 5px;
    border: none;
    width: 100px;
    background-color: #CD181D;
    color: white;
    border: none;
    border:none;
}

.auth-form button:hover, #create-party-form button:hover, .selected-list button:hover {
    cursor: pointer;
}

.auth-form p a{
    text-decoration: none;
    color: #CD181D;
}

/* styles for admin-create-office.html */

#create-party-form, #create-office-form {
    position: absolute;
    left: 500px;
    width: 600px; 
    top: 30px;
}


#create-party-form {
    height: 30px;
    width: 500px;
}

#create-office-form {
    height: 100px;
    width: 500px;
}

#create-party-form input, #create-office-form input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

#create-party-form input[type=file] {
    width: 400px;
}

#create-party-form textarea, #create-office-form textarea {
    width: 100%;
    resize: none;
    height: 150px;
    margin-top: 10px;
}

#create-party-form * {
    margin-top: 2px;
}

#create-party-form button {
    border: none;
}

#government-offices {
    list-style-type: none;
}

#government-offices li {
    height: 35px;
    font-size: 20px;
}

#government-offices li input[type=checkbox] {
    float: right;
}

.selected-list {
    top: 30px;
    list-style-type: none;
    left: 500px;
    position: absolute;
    width: 400px;
}

.selected-list button {
    position: relative;
    left: 150px;
    height: 50px;
}

.selected-list button:hover {
    cursor: pointer;
}



/* styles for the voting-page.html */
/* #voting-positions-div {
} */

.candidate-list {
    text-align: center;
}

.candidate-list li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

.candidate-voting-picture {
    height: 300px;
    width: 300px;
}

#voting-positions-div h2 {
    text-align: center;
}

/* styles for the viewed-voting-politicians.html */

/* styles for the view-profile.html */

#select-office-to-view {
    height: 35px;
}

#profile-description-picture img {
    height: 300px;
    width: 300px;
    position: absolute;
    left: 50px;
    margin: 10px;
}

#user-description-details {
    position: absolute;
    left: 500px;
    margin: 10px;
    width: 1000px;
    font-size: 25px;
}

#user-description-details ul {
    list-style-type: none;
}

#voted-politicians {
    position: absolute;
    width: 55%;
    left: 20px;
    top: 500px;
    /* background-color: blue; */
    margin-bottom: 20px;
    padding-left: 5px;
}

.politicians-table tr th {
    padding-top: 10px;
}

#voting-standings {
    height: 300px;
    width: 40%;
    /* background-color: aqua; */
    position: absolute;
    top: 500px;
    right: 20px;
}

#voting-standings table {
    position: relative;
    left: 10px;
    width: 95%;
    top: 65px;
}

#voting-standings table td {
    white-space: pre;
    text-align: center;
}

#choose-view-category select {
    width: 250px;
    height: 35px;
}

#choose-view-category {
    position: relative;
    top: 60px;
    left: 10px;  
}

#choose-view-category button {
    position: relative;
    right: 0;
}

.voted-politician-image {
    height: 200px;
    width: 200px;
}


#voted-politicians h2 {
    position: relative;
    left: 350px;
}



/* styles for the view-political-parties.html */
#political-parties-div {
    position: relative;
    left: 150px;
    width: 80%;
}

#political-parties-div table {
    /* width: 600px; */
    width: 100%;
    text-align: center;
}

#political-parties-div table tr th {
    font-size: 22.5px;
}

#political-parties-div table tr td {
    font-size: 20px;
} 

.party-logo {
    width: 100px;
    height: 100px;
    text-align: center;
}


#voting-standings h2 {
    position: absolute;
    right: 260px;
}

#profile {
    position: absolute;
    right: 30px;
    top: 10px;
}
.politicians-table tr th {
    padding: 10px;
}

.politicians-table, #voting-standings table {
    border-collapse: collapse;
}

.politicians-table td, .politicians-table th, #voting-standings table td, #voting-standings table th {
    border: 1px solid black;

}
